* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .resizable-viewport {
     margin-top: 1em;
     margin-left: auto;
     margin-right: auto;
     border: 2px solid black;
 }

.resizable-viewport.mobile {
    width: 375px;
    height: 667px;
}

.resizable-viewport.tablet {
    width: 768px;
    height: 1024px;
}

.resizable-viewport.laptop {
    width: 1280px;
    height: 800px;
}

.resizable-viewport.desktop{
    width: 1440px;
    height: 900px;
}


